@import "styles/utils.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: color(black);
  &:not(input) {
    user-select: none;
  }
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  overflow: hidden;
  margin: 0;
}
